@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
    font-family: 'Rubik';
}

header{
    text-align: center;
    font-size: 30px;
}

#tooltip{
    background-color: #0061bb;
    color:white;
    font-size:13px;
    text-align: center;
    width: 15vw;
    padding: 3vh 5px;
    position: absolute;
    box-shadow: 2px 2px 10px rgb(68, 68, 68);
    border-radius: 5px;
}

.bar:hover {
    fill: white;
}

svg {
    display: block;
    margin: auto;
    margin-top: 3vh;
    box-shadow: 2px 2px 15px black;
}


footer{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 20px 0px 10px 0px;
    width: 100%;
    background-color: #0061bb;
    text-align: center;
    color: white;
}

@media (max-width: 500px){
    g{
        font-size: 6.5px
    }
    #tooltip {
        font-size: 12px
    }
}